<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - GreenRide</title>
</head>
<body>

    <div layout:fragment="content">
        
        <style>
            body {
                /* Βεβαιώσου ότι η εικόνα είναι στον φάκελο static */
                background-image: url('/university-harokopio-test-01-min.jpg');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 100% auto;
            }
        </style>
        <div class="container">
            <div style="text-align: center; margin-top: 50px;">
                <h1>Καλώς ήρθατε στο GreenRide</h1>
                <p>Η κορυφαία υπηρεσία carpooling για το πανεπιστήμιο!</p>
                </div>
        </div>
    </div>

</body>
</html>
